<div class="row w-100 bottom-fixed footer">
    <div class="col-sm address">
        <img src="../../../assets/logo/kundaliwalaa-high-resolution-logo-transparent.png" alt="logo" width="150px"
            height="70px">
            <h5>Address :</h5>
            <address>
                XXX XXX, Noida <br>201301 - Uttar Pradesh , India
            </address>

        <div class="row social-media-links">
            Follow Us Here :
            <div class="col"><a href="" class="twitter"><i class="bi bi-twitter"></i></a></div>
            <div class="col"><a href="" class="facebook"><i class="bi bi-facebook"></i></a></div>
            <div class="col"><a href="" class="instagram"><i class="bi bi-instagram"></i></a></div>
            <div class="col"><a href="" class="whatsapp"><i class="bi bi-whatsapp"></i></a></div>
        </div>
    </div>

    <div class="col-sm services">
        <h4>Our Services</h4>
        <ul>
            <li><a class="link-route" routerLink="/horoscope">Horoscope</a></li>
            <li><a class="link-route" routerLink="/birth-chart">Birth Chart</a></li>
            <li><a class="link-route" routerLink="/compatibility">Compatibility Reports</a></li>
            <li><a class="link-route" routerLink="/resources">Astrology Resources</a></li>
            <!-- <li><a class="link-route" routerLink="/contact-us">Reach Us</a></li> -->
        </ul>
    </div>

    <div class="col-sm go-on">
        <h4>Go On</h4>
        <ul>
            <li><a class="link-route" routerLink="/home">Home</a></li>
            <li><a class="link-route" routerLink="/about-us">About</a></li>
            <li><a class="link-route" routerLink="/services">Services</a></li>
            <!-- <li><a class="link-route" routerLink="/appointment">Appointment</a></li> -->
            <li><a class="link-route" routerLink="/contact-us">Contact</a></li>
        </ul>
    </div>

    <div class="col-sm mt-4 ">
        <li><a class="link-route" routerLink="/faq">FAQ</a></li>
        <li><a class="link-route" routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a class="link-route" routerLink="/terms">Terms & Conditions</a></li>
        <li><a class="link-route" routerLink="/disclaimer">Disclaimer</a></li>
    </div>
</div>