<div class="container mt-5">
    <h1>Testimonials<br>
        <img class="divider" src="../../assets/images/Divider-bgimg.png" width="350px" height="50px"></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, asperiores. Adipisci laudantium officia
        architecto ipsa sapiente, optio ut aperiam sit officiis saepe quos neque tempore iste dolores tempora ab qui non
        quisquam? Excepturi, vero. Iste ipsam quaerat quasi rerum, praesentium perspiciatis iure, facilis eaque eveniet
        placeat mollitia atque, a nihil architecto voluptatum necessitatibus! Odit accusantium quo molestias iste,
        perspiciatis totam ad fugiat. Architecto omnis harum quod est modi libero? Facilis laudantium, numquam quae
        expedita, fugit consectetur sint tempore explicabo neque deleniti enim. Eligendi velit, quam perferendis nobis
        temporibus adipisci? Iste aliquid quod veritatis, minus maxime fugit dolore odit dolor? Nesciunt odit
        reprehenderit autem dolores culpa ullam adipisci, temporibus blanditiis suscipit. Sed dolorem nobis odio
        consequatur nostrum, ullam libero quae, recusandae sequi eius, ab ut laborum quaerat. Quidem vel officiis
        tempore, veritatis assumenda id quae atque, blanditiis aperiam aspernatur et laborum! Architecto corporis ipsum
        dolor, cupiditate perspiciatis atque unde repellendus dolorem magnam aperiam blanditiis officiis voluptas
        laudantium quaerat explicabo asperiores aliquam voluptatem aut eos cumque, libero non! Totam rerum ullam dolore,
        iure repellat, tenetur porro temporibus dolorem ut perspiciatis, quasi minima illo! Reiciendis sint cum repellat
        ea harum adipisci! Qui aliquid soluta delectus quas ratione iste placeat provident sint odio quidem.
    </p>
</div>