/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("/assets/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: "Philosopher-Regular";
  src: url("/assets/fonts/Philosopher-Regular.ttf");
}

*{
    font-family: "RobotoSlab-Regular";
}

html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "Helvetica Neue", sans-serif; }
