<div class="container">
    <h1>Know About Astrology<br>
        <img class="divider" src="../../assets/images/Divider-bgimg.png" width="350px" height="50px">
    </h1>
    <div class="row">
        <div class="col-sm-5 mt-4 home-image">
            <img src="../../../assets/images/Gemini_Generated_Image.jpeg" alt="" width="500px" height="550px">
        </div>
        <div class="col-sm-7">
            <p>
                Astrology is more than a mystical art; it's a symbolic language that connects the celestial realm with
                earthly existence. Rooted in the observation of planetary movements, astrology seeks to unravel the intricate
                threads of energy that weave through our lives. Each zodiac sign, planetary alignment, and celestial event serves as a
                cosmic fingerprint, offering insights into our personalities, relationships, and life paths.<br><br>
            </p>
        </div>
    </div>
</div>