h1{
    font-family:'Philosopher-Regular';
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
}
p{
    text-align: justify;
    font-size: larger;
    padding-top: 2%;
}
img{
    border-radius: 6px;
}